<header class="flex flex-col">
  <h1 class="basis-6/12 text-2xl font-bold"><%= t(".basket") %></h1>
</header>

<section class="flex flex-col grow justify-center">
  <section class="h-3/5 flex flex-col items-center">
    <div><%= empty_cart_icon %></div>

    <div class="my-5 text-center">
      <div class="text-2xl">В корзине нет товаров</div>
      <div class="text-slate-500">Добавьте товар из каталога</div>
    </span>
  </section>
</section>
